<p>create-post works!</p>
<!-- create-post.component.html -->
<!-- create-post.component.html -->
<div>
    <!-- Your form controls here -->
  
    
  
<div>
    <h2>Create a New Image Post</h2>
    <input type="file" (change)="onFileChange($event)">
    <textarea [(ngModel)]="caption" placeholder="Add a caption"></textarea>
    <button (click)="submitPost()">Post</button>
  </div>
  
  <button (click)="submitPost()">Post</button>
    
    <div *ngIf="postResponse$ | async as postResponse">
      <p>{{ postResponse | json }}</p>
      <!-- Handle the post response as needed -->
    </div>
  </div>