 
<!-- <div>
<div class="topnav">
 
    <a class="active" href="#profile">Profile</a>


  <a  href="#user">User</a>
  <a href="#post">post</a>
  <a href="#allpost">All post</a>
</div> -->
<div class="overall">
<div class="top container-fluid ">
<div class="row">
<div class="col-md-3"><a routerLink="/profile"  >Profile</a></div>
<div class="col-md-3"><a routerLink="/post" >Post</a></div>
<div class="col-md-3"><a routerLink="/allpost" >Allpost</a></div>
<div class="col-md-3"><a routerLink="/user" >User</a></div>
</div>
</div>

<!-- <div class="body">
<div class="a"> -->


  <div class="container crt">
  <h1 class="display-1 text-center custom-class">My Profile</h1>
    <img class="rounded-circle" [src]="urllink">
    <input type="file" class="btn btn-success btn-sm" (change)="selectFiles($event)">


   
    
</div>

  
  

   <!-- <div  >
    <div >
      <div col-lg-4>
        <ul >
          <li><a routerLink="/post">Posts</a></li>
          <li><a routerLink="/followers">Follwers</a></li>
          <li><a routerLink="/following" >Followings</a></li>
        </ul>

      </div> 
    </div> 

</div>
</div> -->
<div class="container-fluid add">
<div class="profile ">
  <div class="profile-header">
      <div class="profile-header-cover"></div>
      <div class="profile-header-content">
          
          <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
              <li class="nav-item row col-lg-4">
                  <a routerLink="/post" class="nav-link active" data-toggle="tab">
                      <div class="nav-field">Posts</div>
                      <div class="nav-value">382</div>
                  </a>
              </li>
              <li class="nav-item row col-lg-4">
                  <a routerLink="/followers" class="nav-link " data-toggle="tab">
                      <div class="nav-field">Followers</div>
                      <div class="nav-value">1.3m</div>
                  </a>
              </li>
              
              <li class="nav-item row col-lg-4">
                  <a routerLink="/following" class="nav-link " data-toggle="tab">
                      <div class="nav-field">Following</div>
                      <div class="nav-value">2,592</div>
                  </a>
              </li>
          </ul>
      </div>
</div>
</div>

</div>
</div>